.footer
    &-container
        width: 1114px
    &-tel
        display: flex
        align-items: center
        height: 128px
        background-color: #fff
        @media screen and ( max-width: 1024px )
            height: 108px
        @media screen and ( max-width: 320px )
            height: 144px

        &-inner
            display: flex
            align-items: center
            justify-content: space-between
            @media screen and ( max-width: 320px )
                flex-direction: column


        &__tel
            width: 502px
            height: 56px
            background: url('/img/teresaVoyanceMain/tel.jpg')
            @media screen and ( max-width: 1024px )
                width: 402px
                height: 44px
                background: url('/img/teresaVoyanceMain/telMD.jpg')
            @media screen and ( max-width: 768px )
                width: 354px
                height: 40px
                background: url('/img/teresaVoyanceMain/telSM.jpg')
            @media screen and ( max-width: 320px )
                width: 256px
                height: 32px
                margin-bottom: 16px
                background: url('/img/teresaVoyanceMain/telXS.png')


    &-inner
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center      
        @media screen and ( max-width:  320px)
            flex-direction: column
            align-items: flex-start
            &_documents
                align-items: center

    &-logo
        color: #2f3a5b
        text-decoration: none
        font-family: 'Aleo', serif
        font-size: 20px
        font-weight: 400
        letter-spacing: 0.56px
        z-index: 999999
        @media screen and ( max-width:  320px)
            font-size: 20px
            margin: 32px auto 32px 0

    &-links
        display: inline-block
        text-decoration: none
        z-index: 9999999
        @media screen and ( max-width:  320px)
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        &__link
            color:#252729
            text-decoration: none
            font-family: Lato
            font-size: 15px
            letter-spacing: 0.28px
            margin-right: 30px
            font-weight: 600
            position: relative
            -moz-transition: 0.2s 0.1s ease-in
            -o-transition: 0.2s 0.1s ease-in
            -webkit-transition: 0.2s 0.1s ease-in
            @media screen and ( max-width:  320px)
                font-family: Lato
                font-size: 15px
                font-weight: 600
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
                margin-bottom: 22px


            &:last-child
                margin: 0


            &::after
                position: absolute
                content: ''
                opacity: 0
                bottom: -5px
                left: 0
                width: 0%
                height: 2px
                background-color: #252729
                -moz-transition: 0.2s 0.1s ease-in
                -o-transition: 0.2s 0.1s ease-in
                -webkit-transition: 0.2s 0.1s ease-in

            &:hover
                &.footer-links__link
                    color: #9169DB
                    &::after
                        opacity: 1
                        width: 100%
                        background-color: #9169DB
    &-row
        &1
            display: flex
            align-items: center
            background-color: #f0f1f3
            height: 100px
            width: 100%
            @media screen and ( max-width:  320px)
                width: 320px
                height: 180px
        &2
            height: 70px
            background-color: #9169db
            display: flex
            align-items: center
            @media screen and ( max-width:  320px)
                height: 128px
        &3
            display: flex
            justify-content: center
            align-items: center
            background-color: #f0f1f3
            height: 48px
            @media screen and ( max-width:  320px)
                height: 128px

    &-documents
        color: #ffffff
        font-family: Lato
        font-size: 15px
        font-weight: 600
        font-style: normal
        letter-spacing: 0.28px
        line-height: 19px
        text-decoration: none
        @media screen and ( max-width:  320px)
            text-align: center
            font-family: Lato
            font-size: 15px
            font-weight: 600
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
            margin-bottom: 22px
    &-text
        color: #252729
        font-family: Lato
        font-size: 10px
        font-weight: 700
        font-style: normal
        letter-spacing: 0.36px
        line-height: normal
        @media screen and ( max-width:  320px)
            width: 256px
            height: 36px
            color: #252729
            font-family: Lato
            font-size: 10px
            font-weight: 700
            font-style: normal
            letter-spacing: 0.36px
            line-height: normal
            text-align: center