.hero
    &-container
        display: flex
        justify-content: space-between
    &-section
        margin-top: 130px
    &-text
        &-title
            font-family: Aleo
            font-size: 48px
            letter-spacing: -1.15px
            font-weight: 400
        &-subtitile
            font-family: Aleo
            letter-spacing: 0.72px
            color: #9169db
            font-size: 24px
            font-weight: 700
            margin-top: 7px