.main
    &-section
        margin-top: 70px
    &-card
        width: 256px
        height: 432px
        box-shadow: 0 2px 4px rgba(37, 39, 41, 0.12)
        border-radius: 4px
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        &-svg
            position: absolute
            top: 0
            left: 0
            z-index: -9
        &-header
            display: flex
            justify-content: space-between
            align-items: center
            padding-top: 11x
            padding: 11px 19px 0 17px
            width: 100%
            &-title
                color: #575a61
                font-family: Lato
                font-size: 10px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.36px
                justify-self: center
            &-playIcon 
                width: 16px
                height: 18px
        &-logo
            background-color: #fff
            border-radius: 9999px
            margin-top: 30px
            margin-bottom: 8px
        &-name
            color: #2f3a5b
            font-family: Aleo
            font-size: 20px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.56px
            line-height: normal
            margin-bottom: 8px
            &-stars
                margin-bottom: 12px
                picture
                    margin-left: 4px
                    margin-right: 8px
                img
                    margin-right: 8px
                    &:last-child
                        margin-right: 0
        &-statistics
            display: flex
            align-items: center
            justify-content: space-between
            background-color: #F9F9F9
            border-radius: 4px
            width: 240px
            height: 72px
            padding: 16px 22px
            &-item
                display: flex
                flex-direction: column
                align-items: center
                &__subtitle
                    color: #9169db
                    font-family: Lato
                    font-size: 11px
                    font-weight: 700
                    font-style: normal
                    letter-spacing: 0.26px
                    line-height: 18px
                &__title                   
                    color: #575a61
                    font-family: Aleo
                    font-size: 20px
                    font-weight: 700
                    font-style: normal
                    letter-spacing: 0.56px
        &-skills
            display: flex
            justify-content: space-between
            width: 200px
            margin-top: 8px
            &-col
                display: flex
                flex-direction: column
                align-items: center
            &-text
                color: #2f3a5b
                font-family: Lato
                font-size: 13px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.23px
                line-height: normal
                margin-bottom: 14px
        &-footer
            display: flex
            flex-direction: column
            align-items: center
            &-text
                color: #9169db
                font-family: Lato
                font-size: 10px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.96px
                line-height: normal
            &-svg
                margin-top: 6px
                margin-bottom: 1px
        &-row
            margin-bottom: 64px
            &:last-child
                margin-bottom: 0
        &:hover 
            & .main-card-header-title
                color: #fff
            & .main-card-svg path
                fill: #9169db
            & .main-card-header-playIcon path
                stroke: #fff
        &-row
            display: flex
            justify-content: space-between
    &-page-select
        margin-left: auto
        display: flex
        align-items: center
        margin-bottom: 96px
        &-nextPage
            display: flex
            align-items: center
            justify-content: center
            width: 48px
            height: 48px
            border-radius: 4px
            border: 1px solid #f0f1f3
            background-color: #ffffff
            -moz-transition: 0.2s 0.1s ease-in
            -o-transition: 0.2s 0.1s ease-in
            -webkit-transition: 0.2s 0.1s ease-in
            &:hover
                cursor: pointer
                &.main-page-select-nextPage
                    background-color: #9169db
        &-text
            margin-left: 18px
            color: #8c8ea1
            font-family: Lato
            font-size: 15px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
            margin-right: 26px
        &-radio
            &__label
                display: flex
                align-items: center
                justify-content: center
                width: 48px
                height: 48px
                border-radius: 4px
                border: 1px solid #f0f1f3
                background-color: #ffffff
                margin-right: 15px
                color: #2f3a5b
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
                -moz-transition: 0.2s 0.1s ease-in
                -o-transition: 0.2s 0.1s ease-in
                -webkit-transition: 0.2s 0.1s ease-in
                &:hover
                    cursor: pointer
                    &.main-page-select-radio__label
                        border: 1px solid #9169db
                        background-color: #9169db
                        color: #ffffff
                    &.main-page-select-nextPage
                        border: 1px solid #9169db
                        background-color: #9169db
                        color: #ffffff
            &__button
                display: none
                &:checked
                    & + label
                        border: 1px solid #9169db
                        background-color: #9169db
                        color: #ffffff
        

path
    -moz-transition: 0.2s 0.1s ease-in
    -o-transition: 0.2s 0.1s ease-in
    -webkit-transition: 0.2s 0.1s ease-in