.main
    &-section
        margin-top: 70px
    &-card
        width: 256px
        height: 432px
        box-shadow: 0 2px 4px rgba(37, 39, 41, 0.12)
        border-radius: 4px
        display: flex
        flex-direction: column
        margin-right: 30px
        margin-bottom: 64px
        align-items: center
        position: relative
        text-decoration: none
        background-color: #fff
        &:hover
            & .main-card-header-title
                text-decoration: underline
        @media screen and ( max-width:  320px)
            width: 256px
            margin-bottom: 32px
        @media screen and ( min-width:  1440px)
            &:nth-child(4n)
                margin-right: 0
        @media screen and ( max-width:  768px)
                width: 224px
        @media screen and ( max-width:  1024px)
                &:nth-child(3n)
                    margin-right: 0
                margin-right: 29px
                &:last-child
                    display: none
        @media screen and ( max-width:  320px)
            margin-right: 0
        &-wrapper
            display: flex
            flex-wrap: wrap
            @media screen and ( max-width:  320px)
                flex-direction: column
                align-items: center
        &-svg
            position: absolute
            top: 0
            left: 0
            z-index: 0
            @media screen and ( max-width:  768px)
                width: 224px
            @media screen and ( max-width:  320px)
                width: 256px
        &-header
            z-index: 1
            display: flex
            justify-content: space-between
            align-items: center
            padding-top: 11x
            padding: 11px 19px 0 17px
            width: 100%
            position: relative
            

            &-title
                color: #575a61
                font-family: Lato
                font-size: 10px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.36px
                justify-self: center
                display: block
                &_hidden
                    display: none            
            &-playButton 
                width: 16px
                height: 18px
                border-style: none
                background-color: transparent
                background-image: url('/img/main/playerIconPurple.png')
                position: relative

        &-teresa
            text-decoration: none
            &-header
                position: relative
                &-player
                    &-playBar
                        width: 112px
                        height: 8px
                        background-color: #fff
                        display: none
                        position: relative
                        &_active
                            display: block
                        &-line
                            position: absolute
                            border-radius: 1px
                            background-color: #9169db
                            width: 1%
                            top: 2.25px
                            left: 2px
                            height: 4px
                &-playButton
                    background-image: url('/img/main/playButton.png')
                    &_active
                        background-image: url('/img/main/playButtonActive.png')
                &-title
                    color: #fff
                    text-decoration: none
                    &_hidden
                        opacity: 0
        &-logo
            z-index: 1
            background-color: #fff
            border-radius: 9999px
            margin-top: 30px
            margin-bottom: 8px
        &-name
            color: #2f3a5b
            font-family: Aleo
            font-size: 20px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.56px
            line-height: normal
            margin-bottom: 8px
            &-stars
                margin-bottom: 12px
                picture
                    margin-left: 4px
                    margin-right: 8px
                img
                    margin-right: 8px
                    &:last-child
                        margin-right: 0
        &-statistics
            display: flex
            align-items: center
            justify-content: space-between
            background-color: #F9F9F9
            border-radius: 4px
            width: 240px
            height: 72px
            padding: 16px 22px
            @media screen and ( max-width:  768px)
                width: 208px
                padding: 16px 16px

            &-item
                display: flex
                flex-direction: column
                align-items: center
                &__subtitle
                    color: #9169db
                    font-family: Lato
                    font-size: 11px
                    font-weight: 700
                    font-style: normal
                    letter-spacing: 0.26px
                    line-height: 18px
                &__title                   
                    color: #575a61
                    font-family: Aleo
                    font-size: 20px
                    font-weight: 700
                    font-style: normal
                    letter-spacing: 0.56px
        &-skills
            display: flex
            justify-content: space-between
            width: 200px
            margin-top: 8px
            &-col
                display: flex
                flex-direction: column
                align-items: center
            &-text
                color: #2f3a5b
                font-family: Lato
                font-size: 13px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.23px
                line-height: normal
                margin-bottom: 14px
        &-footer
            display: flex
            flex-direction: column
            align-items: center
            &-text
                color: #9169db
                font-family: Lato
                font-size: 10px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.96px
                line-height: normal
            &-svg
                margin-top: 6px
                margin-bottom: 1px
        &-row
            display: flex
            justify-content: space-between
@import blocks/components/pageSelect.sass
        