.planningMain
    &-section
        margin-top: 130px
        @media screen and ( max-width: 320px )
            margin-top: 54px
    &-container
        position: relative
    &-text
        margin-right: auto
        margin-bottom: 32px
        &-suptitle
            color: #9169db
            font-family: Lato
            font-size: 10px
            font-weight: 700
            font-style: normal
            letter-spacing: 0.96px
            line-height: normal
        &-title
            color: #2f3a5b
            font-family: Aleo
            font-size: 32px
            font-weight: 400
            font-style: normal
            letter-spacing: 1.22px
            line-height: normal
    &-filters
        width: 1120px
        height: 136px
        box-shadow: 0 8px 16px rgba(37, 39, 41, 0.12)
        border-radius: 4px
        background-color: #ffffff
        display: flex
        padding: 32px 
        @media screen and ( max-width: 1024px )
            width: 832px
            flex-wrap: wrap
            padding: 32px 16px
        @media screen and ( max-width: 768px )
            width: 736px
            height: 160px
            justify-content: flex-end
        @media screen and ( max-width: 320px )
            width: 320px
            height: 280px
            flex-wrap: wrap
            justify-content: center
            margin-left: -33px
            padding: 32px 15px
            
            
        &-weekdays
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-right: 32px
            @media screen and ( max-width: 768px  )
                margin-right: 90px
            @media screen and ( max-width: 320px)
                margin: 0
                flex-wrap: wrap
                
            &__weekday
                text-transform: uppercase
                color: #8c8ea1
                font-family: Montserrat
                font-size: 10px
                font-weight: 500
                font-style: normal
                letter-spacing: 1px
                line-height: normal
            &__dayNumber
                color: #2f3a5b
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
            &-buttons
                display: flex
                @media screen and ( max-width: 320px )
                    flex-wrap: wrap                    
            &__title
                color: #2f3a5b
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
                margin-bottom: 6px
            &-radio
                &__label
                    display: flex
                    align-items: center
                    justify-content: center
                    flex-direction: column
                    width: 48px
                    height: 48px
                    border-radius: 4px
                    border: 1px solid #f0f1f3
                    background-color: #ffffff
                    margin-right: 15px
                    color: #2f3a5b
                    font-family: Lato
                    font-size: 15px
                    font-weight: 400
                    font-style: normal
                    letter-spacing: 0.28px
                    line-height: 19px
                    -moz-transition: 0.2s 0.1s ease-in
                    -o-transition: 0.2s 0.1s ease-in
                    -webkit-transition: 0.2s 0.1s ease-in
                    @media screen and ( max-width: 1024px )
                        margin-right: 8px
                    @media screen and ( max-width:320px )
                        margin-bottom: 12px
                        margin-right: 12px
                        
                    &:hover
                        cursor: pointer
                &__button
                    display: none
                    &:checked
                        & + label
                            border: 1px solid #9169db
                            background-color: #9169db
                            color: #ffffff
                            & span
                                color: #fff
        &-flags
            display: flex
            align-items: center
            margin-top: 24px
            @media screen and ( max-width: 1024px )
                flex-wrap: wrap
                width: 127px
                flex-direction: column
                justify-content: center
                align-items: flex-start
                margin-top: 18px
            @media screen and ( max-width: 768px )
                flex-wrap: nowrap
                width: 228px
                flex-direction: row
                justify-content: center
                align-items: flex-start
                margin-right: 52px
            @media screen and ( max-width: 320px )
                margin-right: 10px
                
                
            &__flag
                color: #2f3a5b
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
                display: flex
                align-items: center
                &::before
                    content: ''
                    width: 8px
                    height: 8px
                    border-radius: 1px
                    display: inline-block
                    margin-right: 16px

            &-flag
                &__audiotel
                    margin-right: 39px
                    @media screen and ( max-width: 320px )
                        margin-right: 26px
                        margin-bottom: 35px
                    &::before
                        background-color: #81e7c2
                &__CB
                    margin-right: 39px
                    @media screen and ( max-width: 320px )
                        margin-right: 26px
                        margin-bottom: 35px
                    &::before
                        background-color: #dadcde
                &__indisponible
                    @media screen and ( max-width: 320px )
                        margin-bottom: 35px
                    &::before
                        background-color: #f57183
    &-search
        height: 48px
        border-radius: 4px
        border: 1px solid #f0f1f3
        background-color: #ffffff
        width: 100%
        margin: 32px 0
        padding: 15px
        padding-left: 52px
        background: url('/img/hero/searchIcon.svg')
        background-repeat: no-repeat
        background-position: 12px 12px
        caret-color: black      

        &::placeholder
            color: #2f3a5b
            font-family: Lato
            font-size: 15px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
            padding: auto
        &:focus
            outline: none
            border-color: #9169db
            &::-webkit-input-placeholder
                color: transparent
    &-time
        display: flex
        align-items: center
        padding-left: 16px
        width: 1114px
        height: 48px
        border-radius: 4px
        border: 1px solid #f0f1f3
        background-color: #ffffff
        margin-bottom: 16px
        position: sticky
        top: 0
        left: 0
        padding-left: 12px
        @media screen and ( max-width: 1024px)
            width: 832px
        @media screen and ( max-width:  768px)
            position: sticky
            top: 0
            left: 0
            padding: 0
        &__description
            color: #8c8ea1
            font-family: Lato
            font-size: 15px
            font-weight: 700
            font-style: normal
            letter-spacing: 0.23px
            display: flex
            align-items: center
            margin-right: 4px
            @media screen and ( max-width: 1024px)
                font-size: 11px
                letter-spacing: 0.23px
            @media screen and ( max-width: 768px  )
                position: sticky
                left: 0
                width: 88px
                height: 46px
                background-color: #ffffff
            &:after
                content: ''
                margin-left: 64px
                margin-right: 2px
                display: block
                width: 0
                height: 32px
                border: 1px solid #f0f1f3
                @media screen and ( max-width: 1024px)
                    margin-left: 24px
                @media screen and ( max-width: 768px )
                    margin-left: 12px
                     
        &-timeline
            display: flex
            align-items: center
            justify-content: space-between
            @media screen and ( max-width: 768px )
                margin-left: 30px
                
            &__item
                color: #8c8ea1
                font-family: Lato
                font-size: 13px
                font-weight: 700
                font-style: normal
                letter-spacing: 0.23px
                line-height: normal
                display: flex
                align-items: center
                @media screen and ( max-width: 1024px)
                    font-size: 11px
                    letter-spacing: 0.26px

                &::after
                    content: ''
                    width: 4px
                    height: 5px
                    background: url('/img/planning/Main/arrowRight.png')
                    display: inline-block
                    margin: 0 6.75px
                    @media screen and ( max-width: 1024px  )
                        margin: 0 3px
                        background: url('/img/planning/Main/arrowRightMD.png')
                &:last-child
                    &::after
                        display: none
    &-shedule
        display: flex
        align-items: center
        padding-left: 16px
        width: 100%
        height: 48px
        border-radius: 4px
        border: 1px solid #f0f1f3
        background-color: #ffffff
        margin-bottom: 16px
        position: relative
        &:hover
            background-color: #FBFBFC
            border-color: #9169db
            & .planningMain-shedule__name
                color: #9169db
                background-color: #FBFBFC
                box-shadow: none
        @media screen and ( max-width: 1024px  )
            padding-left: 13px
            width: 832px
        @media screen and ( max-width: 768px )
            &:nth-child(-n+7)
                display: none  
            position: sticky
            padding: 0
            left: 0              
            
        &__name
            color: #252729
            font-family: Lato
            font-size: 15px
            font-weight: 600
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
            display: flex
            align-items: center
            @media screen and ( max-width: 1024px  )
                font-size: 13px
                margin-right: 40px
            @media screen and ( max-width: 768px  )
                position: sticky
                left: 0
                width: 112px
                height: 46px
                background-color: #ffffff
                z-index: 1000
                box-shadow: 3px 0px 2px #EEEEEE                    
            &:after
                content: ''
                margin-left: 85px
                margin-right: 4.8px
                display: block
                width: 1px
                height: 32px
                background-color: #f0f1f3
                @media screen and ( max-width: 1024px  )
                    display: none
        &-timeline
            display: flex
            align-items: center
            &__hour
                display: flex
                align-items: center
                &:after
                    content: ''
                    margin: 0 4.8px
                    @media screen and ( max-width: 1024px  )
                        margin: 0 3.37px
                    display: block
                    width: 1px
                    height: 32px
                    background-color: #f0f1f3
                &:last-child
                    &::after
                        display: none
            &__quoter
                margin-right: 2px
                &:last-child
                    margin-right: 0
.greenLine
    width: 6px
    height: 16px
    background-image: url(/img/planning/Main/greenLine.png)
    @media screen and ( max-width: 1024px)
        width: 4px

.greyLine
    width: 6px
    height: 16px
    background-image: url(/img/planning/Main/greyLine.png)
    @media screen and ( max-width: 1024px)
        width: 4px

.redLine
    width: 6px
    height: 16px
    background-image: url(/img/planning/Main/redLine.png)
    @media screen and ( max-width: 1024px)
        width: 4px
@media screen and ( max-width: 768px )
    .planning-main-overflowWrapper
        overflow-x: scroll
        margin-bottom: 40px
        &::-webkit-scrollbar
            width: 1px
            height: 2px
            background-color: #E6DEF5
            &-thumb
                background: #9169db
                border-radius: 1px

.planning-main-overflowElements
    display: none
    // @media screen and ( max-width: 768px  )
    //     display: block
    //     position: absolute
    //     width: 112px
    //     height: 48px
    //     background-color: #ffffff
    //     padding: 17px 37px 16px 13px
    //     color: #2f3a5b
    //     font-family: Lato
    //     font-size: 13px
    //     font-weight: 700
    //     font-style: normal
    //     letter-spacing: 0.23px
    //     z-index: 1001
    //     margin-bottom: 16px
          
