.recrument-form
    width: 928px
    height: 664px
    box-shadow: 0 8px 16px rgba(37, 39, 41, 0.12)
    border-radius: 4px
    background-color: #ffffff
    display: flex
    flex-direction: column
    padding: 96px 96px 54px 96px
    margin: 100px auto 74px auto
    &-suptitle
        color: #9169db
        font-family: Lato
        font-size: 10px
        font-weight: 700
        font-style: normal
        letter-spacing: 0.96px
        margin-bottom: 5px
        text-transform: uppercase
    &-title
        color: #2f3a5b
        font-family: Aleo
        font-size: 32px
        font-weight: 400
        font-style: normal
        letter-spacing: 1.22px
        margin-bottom: 14px
    &-description
        width: 597px
        color: #252729
        font-family: Lato
        font-size: 15px
        font-weight: 400
        font-style: normal
        letter-spacing: 0.28px
        line-height: 22px
        margin-bottom: 32px
    &-inputs
        display: flex
        justify-content: space-between
        &__input
            width: 352px
            height: 48px
            border-radius: 4px
            border: 1px solid #f0f1f3
            background-color: #ffffff
            padding: 16px
            padding-right: 0
            margin-bottom: 32px
            &:placeholder
                color: #8c8ea1
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
        &-col
            margin-right: 32px
            &:last-child
                margin-right: 0
    &-textarea
        width: 736px
        height: 128px
        outline: none
        border-radius: 4px
        border: 1px solid #f0f1f3
        background-color: #ffffff
        padding: 16px
        resize: none
        margin-bottom: 32px
    &-apply
        width: 219px
        height: 48px
        background-color: transparent
        border: 1px solid #9169db
        border-radius: 4px
        color: #9169db
        font-family: Lato
        font-size: 15px
        font-weight: 600
        font-style: normal
        letter-spacing: 0.66px
        margin-left: auto
                    
            

