.recrument-form
    &-body
        &::after
            content: ''
            width: 1410px
            height: 785px
            position: absolute
            top: 171px
            right: -360px
            background-image: url('/img/others/recrument.svg')
            z-index: -999999
            @media screen and ( max-width:  1024px )
                width: 907px
                height: 786px
                top: 197px
                left: 18px
                background-image: url('/img/others/recrumentMD.png')
            @media screen and ( max-width:  768px )
                width: 649px
                height: 786px
                top: 195px
                left: 100px
                background-image: url('/img/others/recrumentSM.png')
            @media screen and ( max-width:  700px )
                width: 100vw
                height: 100vh
                top: 201px
                right: 0
                left: 7%
                background-image: url('/img/others/recrumentSM.png')
            
    &::before
        content: ''
        width: 448px
        height: 349px
        position: absolute
        top: 465px
        right: -225px
        background-image: url('/img/others/recrumentBefore.png')
        z-index: -999998
        @media screen and ( max-width:  1024px )
            width: 448px
            height: 399px
            top: 460px
            left: 430px
            background-image: url('/img/others/recrumentBeforeMD.png')
        @media screen and ( max-width:  768px )
            width: 288px
            height: 402px
            top: 360px
            left: 461px
            background-image: url('/img/others/recrumentBeforeSM.png')
        @media screen and ( max-width:  700px )
            width: 119px
            height: 400px
            top: 413px
            right: 0
            left: 80%
            background-image: url('/img/others/recrumentBeforeXS.png')
    width: 928px
    height: 664px
    box-shadow: 0 8px 16px rgba(37, 39, 41, 0.12)
    border-radius: 4px
    background-color: #ffffff
    display: flex
    flex-direction: column
    padding: 96px 96px 54px 96px
    margin: 100px auto 74px auto
    position: relative
    @media screen and ( max-width:  1024px )
        width: 832px
    @media screen and ( max-width:  768px )
        width: 736px
        height: 616px
        padding: 64px 64px 46px 64px
    @media screen and ( max-width:  700px )
        width: 288px
        height: 768px
        padding: 64px 16px 48px 16px
    &-container
        @media screen and ( max-width:  700px )
            width: 320px

    &-suptitle
        color: #9169db
        font-family: Lato
        font-size: 10px
        font-weight: 700
        font-style: normal
        letter-spacing: 0.96px
        margin-bottom: 5px
        text-transform: uppercase
        @media screen and ( max-width:  700px )
            font-size: 10px
            margin-bottom: 12px
    &-title
        color: #2f3a5b
        font-family: Aleo
        font-size: 32px
        font-weight: 400
        font-style: normal
        letter-spacing: 1.22px
        margin-bottom: 14px
        @media screen and ( max-width:  700px )
            width: 256px
            font-size: 24px
    &-description
        width: 597px
        color: #252729
        font-family: Lato
        font-size: 15px
        font-weight: 400
        font-style: normal
        letter-spacing: 0.28px
        line-height: 22px
        margin-bottom: 32px
        @media screen and ( max-width:  700px )
            width: 256px
            font-size: 13px
    &-inputs
        display: flex
        justify-content: space-between
        @media screen and ( max-width:  700px)
            flex-direction: column
            
        &__input
            width: 352px
            height: 48px
            border-radius: 4px
            border: 1px solid #f0f1f3
            background-color: #ffffff
            padding: 16px
            padding-right: 0
            margin-bottom: 32px
            outline: none
            @media screen and ( max-width:  1024px )
                width: 328px
            @media screen and ( max-width:  768px )
                width: 288px
            @media screen and ( max-width:  700px )
                width: 256px
                margin-bottom: 16px
            &:focus
                &.recrument-form-inputs__input
                    border-color: #9169db
                    outline: none
            &:hover
                &.recrument-form-inputs__input
                    border-color: #9169db
                    outline: none
            &:placeholder
                color: #8c8ea1
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
            &::-webkit-input-placeholder
                color: #8c8ea1
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
            &::-moz-placeholder
                color: #8c8ea1
                font-family: Lato
                font-size: 15px
                font-weight: 400
                font-style: normal
                letter-spacing: 0.28px
                line-height: 19px
        &-col
            margin-right: 32px
            &:last-child
                margin-right: 0
    &-textarea
        width: 736px
        height: 128px
        outline: none
        border-radius: 4px
        border: 1px solid #f0f1f3
        background-color: #ffffff
        padding: 16px
        resize: none
        margin-bottom: 32px
        @media screen and ( max-width:  1024px )
            width: 688px    
        @media screen and ( max-width:  768px )
            width: 608px
        @media screen and ( max-width:  700px )
            width: 256px
        &::placeholder
            color: #8c8ea1
            font-family: Lato
            font-size: 15px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
        &::-webkit-input-placeholder
            color: #8c8ea1
            font-family: Lato
            font-size: 15px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
        &::-moz-placeholder
            color: #8c8ea1
            font-family: Lato
            font-size: 15px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
        &:hover
            border-color: #9169db
            outline: none
        &:focus
            border-color: #9169db
            outline: none
    &-apply
        width: 219px
        height: 48px
        background-color: transparent
        border: 1px solid #9169db
        border-radius: 4px
        color: #9169db
        font-family: Lato
        font-size: 15px
        font-weight: 600
        font-style: normal
        letter-spacing: 0.66px
        margin-left: auto
        @media screen and ( max-width:  700px  )
            width: 100%
            margin-right: auto
        &:hover
            &.recrument-form-apply
                background-color: #9169db
                color: #fff
                    
            

