
*,
*::after,
*::before 
    box-sizing: border-box
    margin: 0
    -moz-transition: 0.2s 0.1s ease-in
    -o-transition: 0.2s 0.1s ease-in
    -webkit-transition: 0.2s 0.1s ease-in

.container
    max-width: 1114px
    margin: 0 auto
@media screen and ( max-width:  1024px)
    .container
        width: 826px
@media screen and ( max-width: 768px)
    .container
        width: 730px

@media screen and ( max-width: 320px)
    .container
        width: 256px
ul > li
    display: none
body
    max-width: 1440px
    margin: 0 auto
    background-color: #FBFBFC
    position: relative
    overflow-x: hidden
    &::after
        content: ''
        background: url("/img/hero/heroElement.png")
        width: 1596px
        height: 1276px
        position: absolute
        top: 0
        left: -100px
        z-index: -9999999999999999999999999999999
