.page-select
    margin-left: auto
    display: flex
    align-items: center
    margin-bottom: 96px
    &-nextPage
        display: flex
        align-items: center
        justify-content: center
        width: 48px
        height: 48px
        border-radius: 4px
        border: 1px solid #f0f1f3
        background-color: #ffffff
        -moz-transition: 0.2s 0.1s ease-in
        -o-transition: 0.2s 0.1s ease-in
        -webkit-transition: 0.2s 0.1s ease-in
        &:hover
            cursor: pointer
            &.main-page-select-nextPage
                background-color: #9169db
    &-text
        margin-left: 18px
        color: #8c8ea1
        font-family: Lato
        font-size: 15px
        font-weight: 400
        font-style: normal
        letter-spacing: 0.28px
        line-height: 19px
        margin-right: 26px
    &-radio
        &__label
            display: flex
            align-items: center
            justify-content: center
            width: 48px
            height: 48px
            border-radius: 4px
            border: 1px solid #f0f1f3
            background-color: #ffffff
            margin-right: 15px
            color: #2f3a5b
            font-family: Lato
            font-size: 15px
            font-weight: 400
            font-style: normal
            letter-spacing: 0.28px
            line-height: 19px
            -moz-transition: 0.2s 0.1s ease-in
            -o-transition: 0.2s 0.1s ease-in
            -webkit-transition: 0.2s 0.1s ease-in
            &:hover
                cursor: pointer
                &.main-page-select-radio__label
                    border: 1px solid #9169db
                    background-color: #9169db
                    color: #ffffff
                &.main-page-select-nextPage
                    border: 1px solid #9169db
                    background-color: #9169db
                    color: #ffffff
        &__button
            display: none
            &:checked
                & + label
                    border: 1px solid #9169db
                    background-color: #9169db
                    color: #ffffff